<div id = "product-list">
  <h1>Listing products</h1>

  <table>
  <% @products.each do |product| %>
  <!--alternate show each row's background color-->
  <tr class="<%= cycle('list-line-odd', 'list-line-event') %>">
    <td>
      <%= image_tag(product.image_url, :class => 'list-image') %>
    </td>
    <td class="list-description">
      <dl>
        <dt><%= product.title %></dt>
        <!--use truncate to restrict description just shown 80 chars and use strip_tags to remove html tags-->
        <dd><%= truncate(strip_tags(product.description), :length => 80) %></dd>
      </dl>
    </td>

    <td class="list-actions">
      <%= link_to 'Show', product %><br/>
      <%= link_to 'Edit', edit_product_path(product) %><br/>
      <%= link_to 'Destroy', product,
                  :method => :delete,
                  :confirm => 'Are you sure?' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>

</div>
